h1 {
    text-decoration: underline;
}
#board {
    padding-top: 3em;
    text-align: center;
}

.row > div {
    height: 100px;
    flex: 1 1 auto;
}
.row {
    display: flex;
    margin: 0 auto;
    width: 302px;
}

.top {
    border-bottom: 1px solid black;
}

.right {
    border-left: 1px solid black;
}

.bottom {
    border-top: 1px solid black;
}

.left {
    border-right: 1px solid black;
}

